* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@font-face {
  font-family: ABCDiatype;
  src: url(ABCDiatypeVariable-Trial.ttf);
}
@font-face {
  font-family: ABCDiatypethin;
  src: url(ABCDiatype-Thin-Trial.woff2);
}
@font-face {
  font-family: Inktrap;
  src: url(ABCWhyteInktrapVariable-Trial.ttf);
}
body {
  color: #000;
  font-family: ABCDiatype, Helvetica;
  font-size: 11px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(245, 245, 245);
  margin: 0;
}
#index {
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: auto;
}
#left {
  grid-column: 1;
  padding-left: 3rem;
  grid-row: 1 / span 7;
  height: 100vh;
}

#right {
  grid-column: 3;
  padding-right: 1rem;
  grid-row: 1 / span 7;
  height: 100vh;
}
#indexsort {
  grid-column: 2;
}
#info {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
}

#content {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 3em 0 0 0;
}

a {
  color: #0080ff;
}

#c {
  display: grid;
  left: 0;
  width: 100%;
  height: 100%;
}

.list-item {
  display: inline-block;
  margin: 1em;
  padding: 1em;
}

.list-item .scene {
  width: 400px;
  height: 400px;
}

/* .list-item .description {
  color: #333333;
  font-family: ABCDiatype, Helvetica;
  font-size: 1.3rem;
  width: 200px;
  margin-top: 0.5em;
  padding-left: 10px yellow;
} */
#spacing {
  grid-row: 1;
  z-index: 0;
  height: 20rem;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
#bar {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-start;
}
#gradbar {
  grid-column: 1;

  grid-row: 1 / span 7;
  height: 100vh;
}
#head:hover {
  border-bottom: 3px solid #333333;
}
#subhead {
  font-weight: 200;
  padding: 0rem 0.2rem;
  font-family: ABCDiatypethin, helvetica;
}
#rowone {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row: 1;

  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}

#wordone:hover {
  filter: drop-shadow(0 0 30px #333);
}
#wordone {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;
  padding-left: 0rem;
  padding-top: 2rem;
}

#identifier {
  font-size: 4.5rem;
  font-family: Inktrap;
  grid-row: 1;
  margin-right: -5rem;
  color: #333333;
  padding-right: 5rem;
}
#identifier:hover {
  filter: drop-shadow(0 0 30px #333);
}

#bottom {
  grid-row: 2;
  margin-right: -3rem;
  margin-bottom: 0.2rem;
}

#contentone {
  display: flex;
  height: 35rem;
  grid-column: 1/3;
  grid-row: 3;
  width: 100%;
  transition: 0.9s ease-in-out;
  margin-right: -3rem;
  -webkit-transition: 0.5s ease-in-out;
}
#catone {
  height: 30rem;
  grid-row: 2/3;
  width: 50%;
  margin-top: -5rem;
  margin-right: 0.1rem;
  margin-left: 1rem;
  transition: 0.9s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  box-shadow: 1px 3px 2px 1px #333;
}
img {
  align-self: center;
  max-width: 100%;
  height: auto;
  max-height: 25rem;
  filter: drop-shadow(0 0 4px #333);
}
#cattwo {
  height: 30rem;
  width: 50%;
  grid-row: 2/3;
  margin-top: -5rem;
  margin-left: 0.1rem;
  margin-right: 1.8rem;
  transition: 0.9s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  border-radius: 0.1rem;
  background-color: whitesmoke;
  box-shadow: 1px 3px 2px 1px #333;
}
/* #content {
  display: none;
  z-index: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
} */
#template {
  display: none;
}

#rowtwo {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#wordtwo {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;

  padding-top: 2rem;
}

#bottomtwo {
  grid-row: 2;
  padding-right: 1rem;
}

#contenttwo {
  height: 50vw;
  grid-row: 3;

  transition: 0.9s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
#rowthree {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#wordthree {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;

  padding-top: 2rem;
}

#bottomthree {
  grid-row: 2;

  padding-right: 1rem;
}

#contentthree {
  height: 50vw;
  grid-row: 3;

  padding-left: 3rem;
  transition: 0.9s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
#rowfour {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#wordfour {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;

  padding-top: 2rem;
}

#bottomfour {
  grid-row: 2;

  padding-right: 1rem;
}

#contentfour {
  height: 50vw;
  grid-row: 3;

  transition: 0.9s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

svg {
  box-shadow: 2px 2px 2px 1px #333;
}
:root {
  --main-color: #ff6f69;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

body {
  min-width: 320px;
  position: relative;

  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #fff;
  color: #fff;
}

a,
a:hover,
a:focus,
a:active {
  outline: none !important;
  text-decoration: none;
  color: #000;
}

.grid-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

/*min-height:32vh;*/
section {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
}
#canvas {
  width: 50%;
  height: 30rem;
  padding: 0px;
  position: static; /* fixed or static */
  top: 100px;
  left: 100px;
}
