* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@font-face {
  font-family: ABCDiatype;
  src: url(ABCDiatypeVariable-Trial.ttf);
}
@font-face {
  font-family: ABCDiatypethin;
  src: url(ABCDiatype-Thin-Trial.woff2);
}
@font-face {
  font-family: Inktrap;
  src: url(ABCWhyteInktrapVariable-Trial.ttf);
}
body {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  color: #000;
  font-family: ABCDiatype, Helvetica;
  font-size: 11px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(255, 253, 253);
  margin: 0;
}
#index {
  overflow-y: scroll;
  height: 100vw;
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: auto;
}
#left {
  grid-column: 1;
  padding-left: 3rem;
  grid-row: 1 / span 7;
  height: 100vh;
  padding-top: 10rem;
}

#right {
  grid-column: 3;
  padding-right: 1rem;
  grid-row: 1 / span 7;
  height: 100vh;
  padding-top: 10rem;
}
#indexsort {
  grid-column: 2;
}
#info {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
}

#content {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 3em 0 0 0;
}

a {
  color: #0080ff;
}

#c {
  display: grid;
  left: 0;
  width: 100%;
  height: 100%;
}

.list-item {
  display: inline-block;
  margin: 1em;
  padding: 1em;
}

.list-item .scene {
  width: 400px;
  height: 400px;
}

/* .list-item .description {
  color: #333333;
  font-family: ABCDiatype, Helvetica;
  font-size: 1.3rem;
  width: 200px;
  margin-top: 0.5em;
  padding-left: 10px yellow;
} */
#spacing {
  grid-row: 1;
  z-index: 0;
  height: 30rem;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
#bar {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-start;
}
#gradbar {
  grid-column: 1;

  grid-row: 1 / span 7;
  height: 100vh;
}
#head:hover {
  border-bottom: 3px solid #333333;
}
#subhead {
  font-weight: 200;
  padding: 0rem 0.2rem;
  font-family: ABCDiatypethin, helvetica;
}
#rowone {
  padding-top: 10rem;
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row: 1;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}

#wordone:hover {
  filter: drop-shadow(0 0 30px #333);
}
#wordtwo:hover {
  filter: drop-shadow(0 0 30px #333);
}
#wordthree:hover {
  filter: drop-shadow(0 0 30px #333);
}
#wordfour:hover {
  filter: drop-shadow(0 0 30px #333);
}
#wordfive:hover {
  filter: drop-shadow(0 0 30px #333);
}
#wordsix:hover {
  filter: drop-shadow(0 0 30px #333);
}
#wordseven:hover {
  filter: drop-shadow(0 0 30px #333);
}
#wordeight:hover {
  filter: drop-shadow(0 0 30px #333);
}
#wordone {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;
  padding-left: 0rem;
  padding-top: 2rem;
}

#identifier {
  font-size: 4.5rem;
  font-family: Inktrap;
  grid-row: 1;
  margin-right: -5rem;
  color: #333333;
  padding-right: 5rem;
}
#identifier:hover {
  filter: drop-shadow(0 0 30px #333);
}

#bottom {
  grid-row: 2;
  margin-right: -3rem;
  margin-bottom: 0.2rem;
}

#contentone {
  display: inline-block;
  height: 35rem;
  grid-column: 1/3;
  grid-row: 3;
  width: 100%;
  transition: 0.9s ease-in-out;
  margin-right: -3rem;
  -webkit-transition: 0.5s ease-in-out;
}
.cat {
  height: 30rem;
  width: 100%;
  margin-right: 1.8rem;
  margin-left: 1rem;
  transition: 0.9s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  box-shadow: 1px 3px 2px 1px #333;
  align-items: center;
  flex-direction: column;
}

#popup {
  height: 20rem;
  width: 20rem;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  top: 30%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
  filter: drop-shadow(0 8px 2px #333);
  z-index: 5000;
}
#descriptor {
  font-family: ABCDiatype;
  font-size: 0.6rem;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  stroke: gradient;
}
#subtitle {
  font-size: 1rem;
}
img {
  align-self: center;
  max-width: 150px;
  height: auto;
  max-height: 25rem;
  filter: drop-shadow(0 0 4px #333);
}

/* #content {
  display: none;
  z-index: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
} */
#template {
  display: none;
}

#rowtwo {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#wordtwo {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;

  padding-top: 2rem;
}

#bottomtwo {
  grid-row: 2;
  padding-right: 1rem;
}

#contenttwo {
  display: inline-block;
  height: 35rem;
  grid-column: 1/3;
  grid-row: 3;
  width: 100%;
  transition: 0.9s ease-in-out;
  margin-right: -3rem;
  -webkit-transition: 0.5s ease-in-out;
}

#rowthree {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#wordthree {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;

  padding-top: 2rem;
}

#bottomthree {
  grid-row: 2;

  padding-right: 1rem;
}

#contentthree {
  display: inline-block;
  height: 35rem;
  grid-column: 1/3;
  grid-row: 3;
  width: 100%;
  transition: 0.9s ease-in-out;
  margin-right: -3rem;
  -webkit-transition: 0.5s ease-in-out;
}
#rowfour {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#rowfive {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#rowsix {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#rowseven {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#roweight {
  display: flex;
  color: #333333;
  font-family: ABCDiatype;
  display: grid;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  z-index: 2100;
  width: 100%;
  height: auto;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}
#wordfour {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;
  padding-top: 2rem;
}
#wordfive {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;
  padding-left: 0rem;
  padding-top: 2rem;
}
#wordsix {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;
  padding-left: 0rem;
  padding-top: 2rem;
}
#wordseven {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;
  padding-left: 0rem;
  padding-top: 2rem;
}
#wordeight {
  font-size: 2.8rem;
  color: #333333;
  grid-row: 1;
  padding-left: 0rem;
  padding-top: 2rem;
}

#contentfour {
  display: inline-block;
  height: 35rem;
  grid-column: 1/3;
  grid-row: 3;
  width: 100%;
  transition: 0.9s ease-in-out;
  margin-right: -3rem;
  -webkit-transition: 0.5s ease-in-out;
}
#contentfive {
  display: inline-block;
  height: 35rem;
  grid-column: 1/3;
  grid-row: 3;
  width: 100%;
  transition: 0.9s ease-in-out;
  margin-right: -3rem;
  -webkit-transition: 0.5s ease-in-out;
}
#contentsix {
  display: inline-block;
  height: 35rem;
  grid-column: 1/3;
  grid-row: 3;
  width: 100%;
  transition: 0.9s ease-in-out;
  margin-right: -3rem;
  -webkit-transition: 0.5s ease-in-out;
}
#contentseven {
  display: inline-block;
  height: 35rem;
  grid-column: 1/3;
  grid-row: 3;
  width: 100%;
  transition: 0.9s ease-in-out;
  margin-right: -3rem;
  -webkit-transition: 0.5s ease-in-out;
}
#contenteight {
  display: inline-block;
  height: 35rem;
  grid-column: 1/3;
  grid-row: 3;
  width: 100%;
  transition: 0.9s ease-in-out;
  margin-right: -3rem;
  -webkit-transition: 0.5s ease-in-out;
}
svg {
  box-shadow: 2px 2px 2px 1px #333;
}
:root {
  --main-color: #ff6f69;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

body {
  min-width: 320px;
  position: relative;

  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #fff;
  color: #fff;
}

a,
a:hover,
a:focus,
a:active {
  outline: none !important;
  text-decoration: none;
  color: #000;
}

.grid-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

/*min-height:32vh;*/
section {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
}

.jcarousel-wrapper {
  display: inline-block;
  overflow: hidden;
  grid-row: 3;
  margin-right: -3rem;
  margin-top: -4rem;
}
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  position: relative;
  overflow: hidden;
  grid-row: 3;
  width: 100%;
  margin-right: -3rem;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  width: 1000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.LayerArrow {
  box-shadow: 0px 0px 0px 0px !important;
  display: block;
  margin: auto;
}
.LayerArrow:hover {
  filter: drop-shadow(0 0 3px #333);
}
#next-zone:hover + .LayerArrow {
  filter: drop-shadow(0 0 3px #333);
}
.cls-1:hover {
  fill: #0a0a0a;
}
/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
  height: 30rem;
  width: 45vw;
  left: 0;
}

#prev-zone {
  left: 0;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 80%;
  width: 12.5%;
  transform: scaleX(-1);
  overflow: visible;
  filter: drop-shadow(0 0 0) !important;
  z-index: 5000;
  pointer-events: auto;
  justify-content: center;
}
#next-zone {
  right: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 80%;
  width: 12.5%;
  overflow: visible;
  z-index: 5000;
  filter: drop-shadow(0 0 0) !important;
}
#prev-zone:hover {
  pointer-events: auto;

  cursor: url(Artboard.svg) 0 32, auto;
}
#next-zone:hover {
  pointer-events: auto;

  cursor: url(arrow.svg) 0 32, auto;
}
div {
  display: block;
}
